@model ServiceItem

<section id="content-wrap" class="blog-single">
    <div class="row">
        <div class="col-twelve">

            <article class="format-standard">

                <div class="content-media">
                    <div class="post-thumb">
                        <img src="~/images/@Model.TitleImagePath">
                    </div>
                </div>

                <div class="primary-content">
                    <h1 class="page-title">@Model.Title</h1>
                    <h1 class="page-title">@Model.Subtitle</h1>

                    <ul class="entry-meta">
                        <li class="date">@Model.DateAdded</li>
                        <li class="cat"><a href="">@Model.ArticleCategory</a></li>

                        <p>@Html.Raw(Model.Text)</p>

                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>
<div id="preloader">
    <div id="loader"></div>
</div>

